
body{
	font-family: Arial;
}
body,md-content{
	background-color: #57a9e7;
}
md-content{
	text-align: center;
}
.app-wrapper{
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerTxt{
	color: #57a9e7;
	font-weight: 200;
	margin-top: 0px;
}
.ErrMsg{
	color: red;
    font-size: 14px;
    position: absolute;
    left: 25px;
}
.selectEmp-btn{
    color: #57a9e7 !important;
    width: 300px;
}
.infoTxt{
	color: #fff;
    font-weight: 500;
}
md-dialog{
	width: 500px;
}
/*Style Override*/
md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple{
	color: #57a9e7;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background-color: #57a9e7;
}