<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tag -->
    <meta charset="UTF-8">

    <!-- Page title -->
    <title>Sumo Logic assignment</title>

    <!-- Library Style -->
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>

    <!-- Custom Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div ng-controller="SumoCtrl as ctrl" class="app-wrapper" layout="column" ng-cloak="" class="autocompletedemoInsideDialog" ng-app="MyApp">
      <md-content class="md-padding">
          <p class="infoTxt">Click on buttton below to select Employee from any particular Team.</p>
          <md-button ng-click="ctrl.openDialog($event)" class="md-raised selectEmp-btn">Select Employee</md-button>
        </md-content>
        <script type="text/ng-template" id="dialog.tmpl.html">
          <md-dialog aria-label="Autocomplete Dialog Example">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>Employee selection</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                  <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content ng-cloak>
              <div class="md-dialog-content">
                <form ng-submit="$event.preventDefault()">
                   <h2 class="headerTxt">Select an Employee</h2>
                   <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'">
                      Send welcome email to employee
                   </md-checkbox>

                   <p>Select a Team in the Organization.</p>
                    <span md-highlight-text="searchText">{{item.display}}</span>
                  </md-autocomplete>

                    <md-autocomplete
                      md-selected-item="ctrl.selectedTeam"
                      md-selected-item-change="ctrl.selectedItemChange(item)"
                      md-search-text="ctrl.searchText"
                      md-items="item in ctrl.querySearch(ctrl.searchText)"
                      md-item-text="item.team"
                      md-min-length="0"
                      placeholder="Select Team..."
                      md-autofocus="">
                    <md-item-template>
                      <span md-highlight-text="ctrl.data[0].team" md-highlight-flags="^i">{{item.team}}</span>
                    </md-item-template>
                  </md-autocomplete>

                  <p>Select an Employee{{item}}</p>
                  <md-autocomplete
                      md-selected-item="ctrl.selectedEmployee"
                      ng-disabled="ctrl.IsTeamSelected"
                      md-no-cache=true 
                      md-search-text="ctrl.searchTxt"
                      md-items="item in ctrl.querySearch1(ctrl.searchTxt)"
                      md-item-text="item.name"
                      md-min-length="0"
                      placeholder="Select Employee..."
                      md-autofocus="">
                    <md-item-template>
                      <span md-highlight-text="ctrl.employees[0].name" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                  </md-autocomplete>
                  <p class="ErrMsg">{{ctrl.errorMsg}}</p>
                </form>
              </div>
            </md-dialog-content>
            <md-dialog-actions>
              <md-button ng-click="ctrl.cancel($event)">Cancel</md-button>
              <md-button ng-click="ctrl.finish($event)">Ok</md-button>
            </md-dialog-actions>
          </md-dialog>
        </script>
      </div>

  <!-- JS script -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
  <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>
  <script src="js/index.js"></script>
  </body>
</html>
